<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.description %></p>
<h3>Reviews for <%= @restaurant.name %></h3>
<h3>Average rating: <%= star_rating(@restaurant.average_rating) %></h3>
<%= image_tag @restaurant.image.url(:thumb) %>
<% if @restaurant.reviews.any? %>
 <ul>
   <% @restaurant.reviews.each do |review| %>
   <li>
     <%= review.thoughts %>
     <%= review.rating %> / 5
     <%= link_to "Delete review", review_path(review), method: :delete %>
     <%= link_to "Endorse review", review_endorsements_path(review), class: 'endorsements-link', method: :post %>
     <span class="endorsements_count"> <%= review.endorsements.count %> </span> <%= 'endorsement'.pluralize(review.endorsements.count) %>
   </li>
   <% end %>
</ul>
<% else %>
  No reviews yet
<% end %>
